.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 2rem;
}

.wrapper svg{
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  background-color:steelblue ;
  border-radius: 50%;
  padding: .7rem;
}

.wrapper a{
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}