.optionBox{
  display: flex;
  align-items: center;

  border-radius: 290486px;
  margin: 0 18px;
  margin-bottom: 12px;
  transition: 0.3s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0,0,0,0.85);
  border: transparent 1px solid;
}

.optionBox p{
  padding: 9px 18px;
}

.optionBox span{
  border-radius: 290486px;
  padding: 9px 18px;
  background-color:steelblue;
  text-transform: uppercase;
  color: #fff;
  margin-right: 2rem;
}

.optionBox:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.optionBox:active{
  transform: scaleX(0.9);
}