.wrapper{
  padding: 3rem;
  animation: enter 400ms cubic-bezier(.5, 0, .2, 1) backwards;
  text-align: center;
}

.wrapper h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.wrapper span{
  font-size: 1.5rem;
  font-weight: 800;
}

.optionsContainer{
  margin-top: 2rem;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 2rem;
}

.menu svg{
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  background-color:steelblue ;
  border-radius: 50%;
  padding: .7rem;
}

.menu a{
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}


@keyframes enter {
  from {
    opacity: 0;
    transform: scale(.7);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
     padding: .7rem;
  }

  .wrapper h2{
    font-size: 1.6rem;
  }

  .wrapper span{
    font-size: 1rem;
    font-weight: 800;
  }
}



